USE [UserManagement_Demo]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/7/2025 6:37:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Dob] [date] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Dob], [Email], [Phone], [Address]) VALUES (1, N'John Smith', CAST(N'1990-05-14' AS Date), N'john.smith@example.com', N'0901234567', N'123 Main St, New York')
INSERT [dbo].[Users] ([UserID], [FullName], [Dob], [Email], [Phone], [Address]) VALUES (4, N'Emily Davis', CAST(N'1995-11-03' AS Date), N'emily.davis@example.com', N'0934567890', N'22 Lakeview Rd, Houston')
INSERT [dbo].[Users] ([UserID], [FullName], [Dob], [Email], [Phone], [Address]) VALUES (5, N'James Wilson 123', CAST(N'1987-09-18' AS Date), N'james.wilson@example.com', N'0945678901', N'15 Oak Dr, Phoenix')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534971646AF]    Script Date: 11/7/2025 6:37:04 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
